@import url('https://fonts.googleapis.com/css?family=Ubuntu')

*
	font-family: 'Ubuntu', sans-serif

body
	background: #f4f8ff

.pre
	white-space: pre-wrap
	white-space: -moz-pre-wrap
	white-space: -pre-wrap
	white-space: -o-pre-wrap
	word-wrap: break-word

.pan-welcome
	margin-left: auto
	margin-right: auto
	max-width: 650px
	height: 300px

.display-5
	font-size: 25px

.qnavbar-brand
	margin-right: 5px
	font-size: 13px

.qnavbar
	overflow: hidden
	z-index: 999
	background: #232628
	color: #fafafa
	padding: 5px
	top: 0
	left: 0
	width: 100%
	height: 35px
	position: fixed
	*
		display: inline-block
		color: white
		&:hover
			color: white
			text-decoration: none


.qnavbar-items
	list-style: none
	font-size: 12px
	padding: 5px

	*
		margin-right: 5px
		margin-top: auto
		
	// li
	// 	position: relative

	// 	&:after
	// 		content: ''
	// 		position: absolute
	// 		bottom: 0
	// 		left: 0
	// 		width: 0px

	// 	&:hover:after
	// 		transition: 0.3s
	// 		height: 1px
	// 		width: 100%
	// 		background: white

.bg-black
	background: #232628
	color: white

.btn.hover-primary
	&:hover
		color: #007bff
		border: 1px solid #007bff

.ad-desc
	font-size: 13px
	color: gray

.ad-desc-content
	max-height: 60px
	overflow: hidden

.text-gray
	color: gray

.text-silver
	color: silver

.ad
	box-shadow: 0 0 1px silver
	margin-bottom: 10px

.zoom-img
	margin: 5px
	&:hover
		transform: scale(1.5)
		transition: 0.3s

.sn
	position: relative

.sb
	position: absolute
	top: -10px
	left: 0
	font-size: 10px

@for $i from 1 through 20
	.fs-#{$i}
		font-size: #{$i}px

.bubble
	padding: 5px
	border-radius: 999px

.ad-review
	padding: 10px
	margin: 10px
	background: white
	.img
		border-radius: 999px

.pointer
	cursor: pointer

.hm-90
	max-height: 90px
	overflow: hidden

.dalign-bottom
	position: absolute
	bottom: 5px
	

.uploaded-image
	width: 100px

	&:hover
		transform: scale(1.2)
		transition: 0.1s

.big-btn
	height: 100px
	width: 100px
	padding: 3px
	position: relative
	border-radius: 10px
	cursor: pointer
	box-shadow: 0 0 2px silver

	&:hover
		opacity: 0.9
		transition: 0.2s

	*
		position: absolute

	.fa
		font-size: 50px
		top: 25px
		left: 30px
		color: white

.background-white
	background: white

.background-silver
	background: silver

.hoverToDelete
	position: absolute
	width: 100%
	height: 100%
	top: 0px
	left: 0px
	color: #fafafa
	background: rgba(229, 20, 62, 0.7)
	opacity: 0

	&:hover
		transition: 0.3s
		opacity: 1
	
	.fa
		position: absolute
		font-size: 25px
		top: 10px
		left: 40px
		color: white

.mini-image
	width: 100px
	max-height: 300px

.policyf
	position: fixed
	background: #232628
	box-shadow: 0 0 20px #232628
	bottom: 0px
	left: 0px
	width: 100%
	padding: 15px
	color: white

	z-index: 999
	
	.policyf-inside
		position: relative
		height: 100%
		button
			width: 100%